Repository hmcts/ccd-case-disposer, pull requests merged in 2022-06, with the labels that each got.

#65 Integration of role assignment deletion into case disposer
  charts/ccd-case-disposer/Chart.yaml
  charts/ccd-case-disposer/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/constants/TestConstants.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/parameter/TestParameterResolver.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/CaseDeletionIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/TestParameterResolver.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/WireMockStubs.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/constants/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/TestDataProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/RoleDeleteTestUtils.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/data/am/RoleAssignmentsDeletePostRequest.java
  src/main/java/uk/gov/hmcts/reform/ccd/data/am/RoleAssignmentsQueryRequest.java
  src/main/java/uk/gov/hmcts/reform/ccd/exception/RoleAssignmentDeletionException.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/ParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeRoleAssignmentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/RestConstants.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/SecurityUtil.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/RoleDeletionRecordHolder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolverTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperationTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeRoleAssignmentsRemoteOperationTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/log/RoleDeletionRecordHolderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-65

#63 Lau 325 fix preview functional tests
  .github/renovate.json
  Jenkinsfile_CNP
  bin/add-roles.sh
  bin/ccd-add-role.sh
  bin/ccd-import-definition-pipeline.sh
  bin/idam-lease-service-token.sh
  bin/idam-lease-user-token.sh
  bin/import-functional-test-definitions-pipeline.sh
  bin/load-aat-environment-variables.sh
  bin/load-preview-environment-variables.sh
  build.gradle
  charts/ccd-case-disposer/Chart.yaml
  charts/ccd-case-disposer/values.preview.template.yaml
  charts/ccd-case-disposer/values.yaml
  infrastructure/main.tf
  infrastructure/providers.tf
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/CaseDeletionFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/TestDataProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/constants/TestConstants.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/helper/GlobalSearchIndexCreator.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/DatabaseTestUtils.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/DocumentDeleteTestUtils.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/ElasticSearchTestUtils.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/ccd-test-definitions/DISPOSER_Master_Definition.xlsx
  src/functionalTest/resources/scenarios/S-001-simulated-and-deletable-case-types.sql
  src/functionalTest/resources/scenarios/S-002-global-search.sql
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/WireMockStubs.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/es/ElasticSearchIndexCreator.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/TestDataProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/DatabaseIntegrationTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/DocumentDeleteIntegrationTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/ElasticSearchIntegrationTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/RoleDeleteIntegrationTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/SimulationIntegrationTestUtils.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/data/CaseDataRepository.java
  src/main/java/uk/gov/hmcts/reform/ccd/data/am/RoleAssignmentsDeletePostRequest.java
  src/main/java/uk/gov/hmcts/reform/ccd/data/em/DocumentsDeletePostRequest.java
  src/main/java/uk/gov/hmcts/reform/ccd/data/model/CaseDataView.java
  src/main/java/uk/gov/hmcts/reform/ccd/exception/DocumentDeletionException.java
  src/main/java/uk/gov/hmcts/reform/ccd/exception/RoleAssignmentDeletionException.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeRoleAssignmentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/RestClientBuilder.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/CaseDataViewBuilder.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/CaseDataViewHolder.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/TableTextBuilder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/config/es/CaseDataElasticsearchOperationsTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolverTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperationTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeRoleAssignmentsRemoteOperationTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/RestClientBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/log/CaseDataViewBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-63

#69 LAU-325: Disable SS upload for AAT.
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-69

#70 Update s2s client secret alias.
  Jenkinsfile_CNP
  charts/ccd-case-disposer/Chart.yaml
  charts/ccd-case-disposer/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/helper/GlobalSearchIndexCreator.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-70

#75 Update Jenkinsfile to sync master with demo and perftest
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-75

#77 LAU-325: Updated SS used in Demo.
  src/functionalTest/resources/ccd-test-definitions/DISPOSER_Master_Definition.xlsx
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-77

#78 LAU-324: Update to trigger build.
  charts/ccd-case-disposer/Chart.yaml
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-78

#80 LAU-325: Add application insights logging.
  .env
  build.gradle
  docker-compose.yml
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application-test.yaml
  src/main/resources/application.yaml
  src/main/resources/logback-spring.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-80

#81 LAU-325: Correction to app-insights key.
  Jenkinsfile_CNP
  charts/ccd-case-disposer/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-81

#83 LAU-325: Correction to app-insights key.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/ccd-case-disposer/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-83

#84 Functional tests
  Jenkinsfile_CNP
  charts/ccd-case-disposer/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/CaseDeletionFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/TestDataProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/ElasticSearchTestUtils.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-84

#74 CCD-3248 Monthly Review of All Security Flags - Suppresions commented…
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-74

#85 LAU-381: Update SS with TTL fields for more types and gracefully exit…
  src/functionalTest/resources/ccd-test-definitions/DISPOSER_Master_Definition.xlsx
  src/main/java/uk/gov/hmcts/reform/ccd/ApplicationBootstrap.java
  src/test/java/uk/gov/hmcts/reform/ccd/ApplicationBootstrapTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-85

#86 LAU-381: Adding missing ES host.
  charts/ccd-case-disposer/Chart.yaml
  charts/ccd-case-disposer/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-86

#89 Update ES node urls.
  charts/ccd-case-disposer/Chart.yaml
  src/integrationTest/resources/application-test.yaml
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-89

#92 Update Jenkinsfile_nightly
  Jenkinsfile_nightly
  build.gradle
  charts/ccd-case-disposer/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-92
