Repository hmcts/ccd-case-disposer, pull requests merged in 2022-10, with the labels that each got.

#139 Added CVE suppression
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-139

#137 LAU-519 Fix case disposer log duplications
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingService.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilder.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-137

#141 CCD-3776 CVE-2022-42003 and CVE-2022-42004 jackson upgraded to 2.14.0…
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-141

#146 LAU-435 Enable ES for functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/CaseDeletionFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/TestDataProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/ElasticSearchTestUtils.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/LauTestUtils.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-146

#147 Remove global search API call for functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/helper/GlobalSearchIndexCreator.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-147
