Repository hmcts/ccd-case-disposer, pull requests merged in 2022-07, with the labels that each got.

#93 CCD-3442 : Update suppressions.xml temporary suppression for CVE-2022-33915
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-93

#95 LAU-419: Update to add fortify configuration.
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  src/integrationTest/resources/application-test.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolverTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-95

#87 added role assignment functional testing
  Jenkinsfile_CNP
  charts/ccd-case-disposer/Chart.yaml
  charts/ccd-case-disposer/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/CaseDeletionFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/TestDataProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/constants/TestConstants.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/helper/S2SHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/parameter/TestParameterResolver.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/DocumentDeleteTestUtils.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/FileUtils.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/RoleDeleteTestUtils.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/ccd-test-definitions/DISPOSER_Master_Definition.xlsx
  src/functionalTest/resources/json/S-001-role-assignment-for-case.json
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/TestParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolver.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-87

#94 LAU-439: Update to ensure missing TTLs don't break app.
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/integrationTest/resources/scenarios/S-005-unexpired-cases-and-nondeletable-case-types-present.sql
  src/integrationTest/resources/scenarios/S-013-cases-due-deletion-linked-to-third-level-deep-nondeletable-case.sql
  src/main/java/uk/gov/hmcts/reform/ccd/policy/TtlRetentionPolicyImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/RestClientBuilder.java
  src/test/java/uk/gov/hmcts/reform/ccd/fixture/TestData.java
  src/test/java/uk/gov/hmcts/reform/ccd/policy/CaseTypeRetentionPolicyImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/policy/TtlRetentionPolicyImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseFinderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/RestClientBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-94

#98 Update document dispose exception handling
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperation.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-98

#99 Change document store functional tests assertions
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/DocumentDeleteTestUtils.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperation.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-99

#34 CCD-2496 Update all repos with multi arch base images
  Dockerfile
  acb.tpl.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-34

#101 LAU-439: Update to SS to link cases on creation.
  src/functionalTest/resources/ccd-test-definitions/DISPOSER_Master_Definition.xlsx
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-101

#91 CCD-965: Remove Temporary Sonar Exclusions ccd-case-disposer
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-91

#105 Disable show sql in the logs.
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-105

#107 LAU-458 Performance: Cache user credentials
  src/main/java/uk/gov/hmcts/reform/ccd/util/SecurityUtil.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/SecurityUtilTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-107

#110 Ccd 3515 CVE 2022 22976
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-110

#109 LAU-462 Update deletion summary log to limit characters displayed on …
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/parameter/TestParameterResolver.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/TestParameterResolver.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/WireMockStubs.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/ParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionSimulationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/LogConstants.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionSimulationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-109

#103 CCD-3504 Upgrade to latest java plugin - java plugin upgraded to 0.12…
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-103

#113 LAU-462: Allow table summary log size to change.
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-113

#114 LAU-454: Trigger prod pipeline.
  charts/ccd-case-disposer/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-114
