Repository hmcts/ccd-case-disposer, pull requests merged in 2022-08, with the labels that each got.

#116 Show summary logs even if no cases are eligible for deletion
  charts/ccd-case-disposer/Chart.yaml
  charts/ccd-case-disposer/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/ApplicationExecutor.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/DeletableCaseTypePropertyInterceptor.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilder.java
  src/test/java/uk/gov/hmcts/reform/ccd/ApplicationExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionResolverTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-116

#115 Add idam and service auth exception handling
  src/main/java/uk/gov/hmcts/reform/ccd/exception/IdamAuthTokenGenerationException.java
  src/main/java/uk/gov/hmcts/reform/ccd/exception/ServiceAuthTokenGenerationException.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/SecurityUtil.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/SecurityUtilTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-115

#120 LAU-470: Update permissions.
  infrastructure/main.tf
Labels: no-changes

#117 Lau 470
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/SimulationTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/constants/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/SimulationIntegrationTestUtils.java
  src/integrationTest/resources/scenarios/S-023-deletable-simulated-failed-cases.sql
  src/main/java/uk/gov/hmcts/reform/ccd/exception/CaseDeletionException.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeRoleAssignmentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/FailedToDeleteCaseFamilyHolder.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/LogConstants.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilder.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/CaseDataViewBuilder.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/CaseFamiliesFilter.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/SimulatedCaseDataViewHolder.java
  src/test/java/uk/gov/hmcts/reform/ccd/fixture/TestData.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionResolverTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/FailedToDeleteCaseFamilyHolderTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/log/CaseDataViewBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/log/CaseFamiliesFilterTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/log/SimulatedCaseDataViewHolderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-117
