Repository hmcts/ccd-case-disposer, pull requests merged in 2024-12, with the labels that each got.

#699 CCD-4373:
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-699

#706 Lau 1047 catch task deletion exc
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/WireMockStubs.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/constants/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/scenarios/S-034-deletable-failed-cases-due-to-task-delete-exception.sql
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeTasksRemoteOperation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeTaskRemoteOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-706

#705 Lau-1009 feign client retry
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/TestClientRetry.java
  src/main/java/uk/gov/hmcts/reform/ccd/feign/FeignErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/ccd/feign/RetryableFeignConfig.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeHearingsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/clients/HearingClient.java
  src/test/java/uk/gov/hmcts/reform/ccd/feign/FeignErrorDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/feign/RetryableFeignConfigTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposerHearingsRemoteOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-705
