Repository hmcts/ccd-case-disposer, pull requests merged in 2024-11, with the labels that each got.

#657 Fix typo
  charts/ccd-case-disposer/Chart.yaml
  charts/ccd-case-disposer/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-657

#659 Add missing bracket to fix master branch
  charts/ccd-case-disposer/Chart.yaml
  charts/ccd-case-disposer/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-659

#651 LAU-979 request limit addition
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/parameter/TestParameterResolver.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/TestParameterResolver.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/constants/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/scenarios/S-025-delete-cases-based-on-request-limit.sql
  src/integrationTest/resources/scenarios/S-026-deletable-case-linked-to-case-which-is-beyond-request-limit.sql
  src/integrationTest/resources/scenarios/S-027-simulated-case-more-than-request-limit.sql
  src/integrationTest/resources/scenarios/S-028-cases-links-to-mutiple-childs-within-request-limit
  src/main/java/uk/gov/hmcts/reform/ccd/ApplicationExecutor.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/ParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/SimulatedCaseDataViewHolder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/ApplicationExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionResolverTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/CaseFamilyUtilTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-651

#661 Lau 998 feign client
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/parameter/TestParameterResolver.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/DocumentDeleteTestUtils.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/RoleDeleteTestUtils.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/TestParameterResolver.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/data/em/CaseDocumentsDeletionResults.java
  src/main/java/uk/gov/hmcts/reform/ccd/data/lau/ActionLog.java
  src/main/java/uk/gov/hmcts/reform/ccd/data/lau/CaseActionPostRequestResponse.java
  src/main/java/uk/gov/hmcts/reform/ccd/exception/TasksDeletionException.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/ParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/CcdRestClientBuilder.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeHearingsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeRoleAssignmentsRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeTasksRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/LogAndAuditRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/clients/DocumentClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/clients/HearingClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/clients/LauClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/clients/RoleAssignmentClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/clients/TasksClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/RestConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolverTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/CcdRestClientBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeDocumentsRemoteOperationTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeRoleAssignmentsRemoteOperationTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeTaskRemoteOperationTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposerHearingsRemoteOperationTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/LogAndAuditRemoteOperationTest.java
Labels: ns:ccd, prd:ccd, keep-helm, rel:ccd-case-disposer-pr-661, enable_keep_helm

#670 LAU-1002-Simulated-Logs-new
  build.gradle
  charts/ccd-case-disposer/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/LauTestUtils.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/db/migration/NTV20240321_0001__GA-28_replacement_index_for_case_access_groups.sql
  src/integrationTest/resources/db/migration/V20220728_2962__CCD-2962_delete_indexes_for_case_data.sql
  src/integrationTest/resources/db/migration/V20230626_4754__CCD-4754_new_indexes_for_case_data.sql
  src/integrationTest/resources/db/migration/V20231120_0000__GA-14_new_index_for_case_access_groups.sql
  src/main/java/uk/gov/hmcts/reform/ccd/ApplicationExecutor.java
  src/main/java/uk/gov/hmcts/reform/ccd/config/es/GlobalSearchIndexChecker.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseFamilyTreeService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseFinderService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeElasticsearchRemoteOperation.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/CaseFamiliesFilter.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/SimulatedCaseTypesLogger.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionResolverTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/log/SimulatedCaseTypesLoggerTest.java
Labels: ns:ccd, prd:ccd, enable_keep_helm, rel:ccd-case-disposer-pr-670

#677 Fix request limit bug.
  src/main/java/uk/gov/hmcts/reform/ccd/ApplicationExecutor.java
  src/test/java/uk/gov/hmcts/reform/ccd/ApplicationExecutorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-677

#684 Fix nightly build
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-684

#685 LAU-1005 renaming intgration test to sql
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/integrationTest/resources/scenarios/S-028-cases-links-to-mutiple-childs-within-request-limit.sql
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-685
