Repository hmcts/ccd-case-disposer, pull requests merged in 2025-01, with the labels that each got.

#719 Make ES exception handling more generic.
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeElasticsearchRemoteOperation.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeElasticsearchRemoteOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-719

#709 LAU-1049 simplify wiremock tasks stubbing
  bin/idam-lease-user-token.sh
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/WireMockStubs.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/constants/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/RoleRemoteDeletionVerifier.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/TasksRemoteDeletionVerifier.java
  src/integrationTest/resources/scenarios/S-028-cases-links-to-mutiple-childs-within-request-limit.sql
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-709

#720 LAU-1011 JPA Repository Test
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/ApplicationBootstrapIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/CaseDeletionIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/DefaultParameterResolverIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/TestClientRetry.java
  src/integrationTest/resources/application-integration.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/data/BaseRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/data/CaseDataRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/data/CaseEventRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/data/CaseLinkRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/exception/MigrationScriptException.java
  src/test/java/uk/gov/hmcts/reform/ccd/flyway/FlywayConfiguration.java
  src/test/java/uk/gov/hmcts/reform/ccd/flyway/FlywayNoOpStrategy.java
  src/test/resources/application-test.yaml
  src/test/resources/testData/case_data.sql
  src/test/resources/testData/case_event.sql
  src/test/resources/testData/case_link.sql
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-720

#728 LAU-1089 ccd disposer cut off time
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/parameter/TestParameterResolver.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/TestParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/ApplicationExecutor.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/parameter/ParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/CcdDisposerClock.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/ApplicationExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/parameter/DefaultParameterResolverTest.java
Labels: ns:ccd, prd:ccd

#730 whitespace change
  README.md
Labels: ns:ccd, prd:ccd

#748 Bump appinsights agent versions
  Dockerfile
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-748
