Repository hmcts/ccd-case-disposer, pull requests merged in 2025-03, with the labels that each got.

#774 Upgrade chart job to oci version
  charts/ccd-case-disposer/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-774

#778 LAU-1112 adding casetype results in deletion summary
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingService.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/LogConstants.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilder.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilderTest.java
Labels: ns:ccd, prd:ccd, enable_keep_helm, rel:ccd-case-disposer-pr-778

#779 Filter out dependency messages on app insights
  lib/applicationinsights.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-779

#781 LAU-1092 allow transaction to work on LAU error
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/WireMockStubs.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/constants/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/data/DeletionScenarios.java
  src/integrationTest/resources/scenarios/S-035-deletable-failed-cases-due-to-log-and-audit-exception.sql
  src/main/java/uk/gov/hmcts/reform/ccd/ApplicationExecutor.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionService.java
  src/test/java/uk/gov/hmcts/reform/ccd/ApplicationExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-781

#786 LAU-1127 remove summary tables
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingService.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionService.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilder.java
  src/main/java/uk/gov/hmcts/reform/ccd/util/log/TableTextBuilder.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/CaseDeletionLoggingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/SummaryStringLogBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/util/log/TableTextBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-786

#788 LAU-1127 remove leftover from summary table removal
  src/main/java/uk/gov/hmcts/reform/ccd/util/LogConstants.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-788

#780 Lau 675 Moving To ElasticSearchJava API
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/utils/ElasticSearchTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/config/es/ElasticSearchIndexCreator.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/utils/ElasticSearchIntegrationTestUtils.java
  src/main/java/uk/gov/hmcts/reform/ccd/config/ElasticsearchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/config/es/GlobalSearchIndexChecker.java
  src/main/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeElasticsearchRemoteOperation.java
  src/test/java/uk/gov/hmcts/reform/ccd/config/es/GlobalSearchIndexCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/service/remote/DisposeElasticsearchRemoteOperationTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-disposer-pr-780
